# Learn

We want to encourage creators by providing free and curated educational resources. Currently, we don't have any resources made by us yet. Please be patent as we create them and compile a list of recommended learning materials.