<script>
	import {base} from "$app/paths";
</script>

# Welcome to groak.games!

This website is a work in progress... Thanks for visiting!

We are working on the VTuber software [VirtualStrings]({base}/virtual-strings) which we hope to create a first release in the first quarter of 2024!


